{
  "branches": ["main"],
  "plugins": [
    "semantic-release-gitmoji",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "package.json"],
        "message": ":bookmark: release ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
